<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Info</title>
</head>
<body>
    <h1>Edit Info</h1>
    <h2>직원 정보 수정하기</h2>
    <form action="/employee/editinfo" method="post">
        <label> 직원 이름 : <input type="text" name="empName"></label><br>
        <label> 직원 번호 : <input type="text" name="empNo"></label><br>
        <label> 직원 이메일 : <input type="email" name="email"></label><br>
        <label> 직원 전화번호 : <input type="text" name="phone"></label><br>
    </form>
</body>
</html>