<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>전체 조회</h1>
<div th:replace="common/header.html"></div>
<table border="1">
    <tr>
        <th>empId</th>
        <th>empName</th>
        <th>empNo</th>
        <th>email</th>
        <th>phone</th>
        <th>deptCode</th>
        <th>jobCode</th>
        <th>salLevel</th>
        <th>salary</th>
        <th>bonus</th>
        <th>managerId</th>
        <th>hireDate</th>
        <th>endDate</th>
        <th>entYn</th>
    </tr>
    <tr>
        <td th:text="${employee.empId}"></td>
        <td th:text="${employee.empName}"></td>
        <td th:text="${employee.empNo}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phone}"></td>
        <td th:text="${employee.deptCode}"></td>
        <td th:text="${employee.jobCode}"></td>
        <td th:text="${employee.salLevel}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.bonus}"></td>
        <td th:text="${employee.managerId}"></td>
        <td th:text="${employee.hireDate}"></td>
        <td th:text="${employee.endDate}"></td>
        <td th:text="${employee.entYn}"></td>

    </tr>
</table>
</body>
</html>