<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Regist Menu Page</h1>
    <form action="/menu/regist" method="post">
        <label > Menu Name : </label>
        <input type="text" name="menuName" placeholder="Menu Name"><br>
        <label>Menu Price : </label>
        <input type="number" name="menuPrice" placeholder="Menu Price"><br>
        <select name="CODE" id="CATEGORYCODE"></select> <br>
        <label> Orderable Status</label>
        <select name="STATUS" id="orderableStatus">
            <option value="Y"> Available</option>
            <option value="N"> Not Available</option>
        </select><br>
        <input type="submit" value="Generate">

    </form>
    <script>
        fetch('/menu/category')
            .then(res => res.json())
            .then(data => {
                const $CategoryCode = document.getElementById('CATEGORYCODE')

                for(let index in data) {
                    const $option = document.createElement('option')
                    $option.value = data[index].categoryCode;
                    $option.textContent = data[index].categoryName;

                    $CategoryCode.appendChild($option);
                }
            })

    </script>



</body>
</html>