<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 align="center">Jackson 라이브러리 활용하기</h1>      <!-- Jackson : Json의 데이터 형식을 Java 형식으로 변환해주는 translator-->
    <hr>
    <h3>1. @ResponseBody 를 이용한 응답</h3>
    <button id="jackson1">정보 조회하기</button>
    <table id="memberInfo1" border="1">
        <thead>
        <tr>
            <th>회원번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script>
        document.getElementById("jackson1").addEventListener("click", function () {
         <!-- "click"눌렀을 때 실행시킬 함수들 정의 -->
            fetch("jackson1")
                .then(res => res.json())       //json 형식으로 응답할거야
                .then(data => {
                    console.table(data);     // 아직 데이터에 무슨 값이 들어있는지 모르기 때문에 console.table 을 이용해 출력

                    const tableBody = document.querySelector("#memberInfo1 tbody");          // 아이디는 # 으로 접근
                    tableBody.innerHTML = "";           // 일단 빈 값으로 초기화

                    data.forEach(member => {     // member 를 변수로 사용
                        const row = document.createElement("tr");
                        row.innerHTML = `
                        <td>${member.no}</td>
                        <td>${member.name}</td>
                        <td>${member.age}</td>
                        <td>${member.enrollDate}</td>
                            `;

                        tableBody.appendChild(row);

                    })

                })
                .catch(error => console.error('Error : ', error));      // error 가 발생하면 error 이유 출력
        });
    </script>


    <h3>2. jsonView 를 이용한 ModelAndView 응답</h3>
    <button id="jackson2">정보 조회하기</button>
    <table id="memberInfo2" border="1">
        <thead>
        <tr>
            <th>회원번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script>
        document.getElementById("jackson2").addEventListener("click",function() {
            fetch("jackson2")
                .then(res => res.json())
                .then(data => {
                    console.table(data);
                    /* JSON.parse() : json 형식의 문자열에서 javaScript 객체 형태로 변환 */
                    const memberList = JSON.parse(data.memberList);
                    const tableBody = document.querySelector("#memberInfo2 tbody");
                    tableBody.innerHTML = "";

                    memberList.forEach(member => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <td>${member.no}</td>
                            <td>${member.name}</td>
                            <td>${member.age}</td>
                            <td>${member.enrollDate}</td>
                        `;

                        tableBody.appendChild(row);
                    })
                })
                .catch(error => console.error('Error' , error))

        })
    </script>
</body>
</html>