<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">
    <!-- 이 xml 파일은 MenuMapper 와 상호작용을 할거아 -->


    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <!--우리가 전달할 값이랑 실제 DB에 있는 값이랑 매핑 시켜야 함. DTO쪽에 값을 뭉쳐놓은 상태.
       우리 컬럼과 DB에 있는 컬럼과 값을 맞춰야 함. 이 때 사용하는 게 resultMap
       DB과 매핑하기 위해 DTO 라는 클래스에 정보를 묶어놓은 상태. DB 컬럼과 DTO 클래스와 매핑을 할거야 -->
        <id property="code" column="menuCode"/>
            <!-- DTO 에 code라고 작성해놓은 컬럼은 DB 컬럼에 menuCode 와 매핑할거야-->
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>

    </resultMap>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <select id="findAllMenu" resultMap="menuResultMap">
    <!-- 전체 조회이기 때문에 select 사용. id는 menuMapper 인터페이스에 작성한 메소드 이름 -->
    <!-- 사용할 resultMap은 위에 "menuResultMap"이라고 해놓음-->

        select
            menu_code,
            menu_name,
            menu_price,
            category_code,
            orderable_status,
        from tbl_menu
        where orderable_status = 'Y'
        order by menu_code

    </select>

</mapper>