<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>카테고리 코드</th>
        <th>카테고리 이름</th>
        <th>상위 카테고리 코드</th>
        <th>메뉴 코드</th>
        <th>메뉴 이름</th>
        <th>메뉴 가격</th>
        <th>판매가능여부</th>
    </tr>
    <th:block th:each="category:${categoryAndMenu}">
        <th:block th:each="lists:${category.menuList}">
            <tr>
                <td th:text="${category.code}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.refCategoryCode}"></td>
                <td th:text="${lists.code}"></td>
                <td th:text="${lists.name}"></td>
                <td th:text="${lists.price}"></td>
                <td th:text="${lists.orderableStatus}"></td>
            </tr>
        </th:block>
    </th:block>
</table>

</body>
</html>