<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/header.html"></div>
<table border="1">
    <tr>
        <th>카테고리 코드</th>
        <th>판매 상태</th>
        <th>카테고리 이름</th>
        <th>상위 카테고리</th>
        <th>메뉴 번호</th>
        <th>메뉴 이름</th>
        <th>메뉴 가격</th>

    </tr>
    <tr th:each="CategoryAndMenu : ${categoryAndMenuDTO}">
        <td th:text=" ${categoruAndMenuDTO.code}"></td>
        <td th:text=" ${categoruAndMenuDTO.name}"></td>
        <td th:text=" ${categoruAndMenuDTO.price}"></td>
        <td th:text=" ${categoruAndMenuDTO.categoryDTO.code}"></td>
        <td th:text=" ${categoruAndMenuDTO.orderableStatus}"></td>
        <td th:text=" ${categoruAndMenuDTO.categoryDTO.name}"></td>
        <td th:text=" ${categoruAndMenuDTO.categoryDTO.refCategoryCode}"></td>
    </tr>
</table>

</body>
</html>